* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #003049;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.logo {
    color: #34d399;
}

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 40px;

}



#menu {

    display: none;

    gap: 10px;

}



@media (min-width: 769px) {



    #menu {



        display: flex;



    }







    #hamburguer {



        display: none;



    }



}



.hero {

    height: 100vh;

    background: radial-gradient(circle at top, #003049, #020617);

}



.hero-container {

    text-align: center;

    margin-top: 3em;

}



.intro {

    color: #34d399;

    margin-bottom: 10px;

}



.hero-container h2 {

    font-size: 3em;

    margin-bottom: 10px;

}



.descricao {

    color: #34d388;

}



/* SOBRE */

#sobre {

    height: 100vh;

    padding: 1em;

    color: #9ca3af;



}



#sobre h2 {

    color: #34d399;

    text-align: center;

    margin: auto;

}



.sobre-conteudo {

    display: flex;

    flex-direction: column;

    gap: 20px;

    align-items: flex-start;

}



.sobre-conteudo .sobre-texto{

    flex: 1;

}



.sobre-conteudo .sobre-formacao {

    flex: 1;

}



.sobre-texto p {

    color: #9ca3af;

    margin-bottom: 20px;

    line-height: 1.6;

}



.sobre-dados {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;



}



.sobre-dados div {

    text-align: center;

}



.sobre-dados strong {

    display: block;

    font-size: 2em;

    color: #34d399;

}



.sobre-dados span {

    font-size: 1em;

    color: #9ca3af;

}



#projetos {

    min-height: 100vh;

    text-align: center;

}



.projetos-container {

    display: flex;

    flex-wrap: wrap;

    gap: 20px;

}



.projetos-container > *{

    flex: 1 1 250px;

}



.projeto-card {

    background: #020617;

    padding: 20px;

    border-radius: 10px

}



.projeto-card img {

    width: 100%;

    object-fit: contain;

    object-position: center;

}



#projetos h2 {

    color: #34d399;

    margin-bottom: 1em;

}



.projeto-card h3 {

    color: #9ca3af;

    margin-bottom: 15px;

}



.projeto-card a {

    color: #34d399;

    font-weight: bold;

    border: 2px solid #34d399;

    padding: 10px;

    border-radius: 10px;

}



#habilidades {

    min-height: 50vh;

    text-align: center;



}



#habilidades p {

    color: #9ca3af;

    margin: 20px;

}





.habilidades-lista {

    display: flex;

    flex-wrap: wrap;

    justify-content: space-around;

    gap: 10px;

    margin: 20px;

}



.habilidades-card {

    background-color: #020617;

    border: 1px solid #192933;

    border-radius: 10px;

    padding: 25px 20px;

}



.habilidades-card:hover {

    border: 1px solid #34d399;

}



.habilidades-card span {

    padding: 5px 14px;

    border-radius: 10px;

    background-color: #020617;

    border: 1px solid #34d399;

    color: #34d399;

    font-size: 0.7em;

}



.habilidades-card h2 {

    margin-bottom: 10px;

    color: #34d399;



}



#contato {

    min-height: 100vh;

    text-align: center;

    padding: 1em;

}



#contato h2 {

    color: #34d399;

    margin-bottom: 20px;

}



#contato p {

    color: #9ca3af;

    margin-bottom: 15px;

}



.contatos-lista {

    display: flex;

    flex-wrap: wrap;

    align-items: center;

    justify-content: center;

    gap: 20px;

    margin-bottom: 25px;

}



.contato-item {

    background: #020617;

    padding: 20px 30px;

    border-radius: 10px;

    border: 1px solid #34d399;

}



.contato-item strong {

    display: block;

    color: #34d399;

    margin-bottom: 5px;

}



.contato-item span {

    color: #9ca3af;

    font-size: 0.7em;

}



.redes-sociais {

    display: flex;

    gap: 20px;

    justify-content: center;

}

.hamburguer {

    display: none;

    font-size: 20px;

    background: none;

    cursor: pointer;

    border: none;

    color: #fff;

}




@media (max-width: 768px) {

    .navbar {

        /* Apenas para garantir que o container se ajuste */
        padding: 20px;
        

    }



    .navbar-container {

        display: flex;

        justify-content: space-between;

        width: 100%;

        align-items: center;

    }



    #menu {

        position: absolute;

        top: 70px;

        right: 40px;

        background: #111;

        flex-direction: column;

        padding: 20px;

        border-radius: 10px;

        gap: 15px;

    }



    #menu.ativa {

        display: flex;

    }



    .hamburguer {

        display: block;

    }



    .sobre-conteudo {

        flex-direction: column;

    }



    .projetos-container {

        flex-direction: column;

    }



    .habilidades-lista {

        flex-direction: column;

    }



    .contatos-lista {

        flex-direction: column;

    }

}



.redes-sociais a {

    border: 1px solid #34d399;

    border-radius: 10px;

    color: #34d399;

    padding: 10px 20px;

}



.redes-sociais a:hover {

    background-color: #10b981;

    color: #020617;

}




.hamburguer-icon {

    display: block;

    width: 30px;

    height: 3px;

    background: #fff;

    position: relative;

}



.hamburguer-icon::before,

.hamburguer-icon::after {

    content: '';

    width: 30px;

    height: 3px;

    background: #fff;

    position: absolute;

    left: 0;

}



.hamburguer-icon::before {

    top: -10px;

}



.hamburguer-icon::after {

    bottom: -10px;

}
